--
-- PostgreSQL database dump
--

\restrict EPx5w6wg8g2SsdZggnwhdApZBNnlJoisN0Wch0yQ4GMwWdummnsswQHZIsX8V6B

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: event_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.event_type AS ENUM (
    'festa',
    'diva',
    'vs',
    'mezfes'
);


ALTER TYPE public.event_type OWNER TO postgres;

--
-- Name: festival_colour; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.festival_colour AS ENUM (
    'none',
    'red',
    'blue'
);


ALTER TYPE public.festival_colour OWNER TO postgres;

--
-- Name: guild_application_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.guild_application_type AS ENUM (
    'applied',
    'invited'
);


ALTER TYPE public.guild_application_type OWNER TO postgres;

--
-- Name: prize_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.prize_type AS ENUM (
    'personal',
    'guild'
);


ALTER TYPE public.prize_type OWNER TO postgres;

--
-- Name: uint16; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.uint16 AS integer
	CONSTRAINT uint16_check CHECK (((VALUE >= 0) AND (VALUE <= 65536)));


ALTER DOMAIN public.uint16 OWNER TO postgres;

--
-- Name: uint8; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.uint8 AS smallint
	CONSTRAINT uint8_check CHECK (((VALUE >= 0) AND (VALUE <= 255)));


ALTER DOMAIN public.uint8 OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.achievements (
    id integer NOT NULL,
    ach0 integer DEFAULT 0,
    ach1 integer DEFAULT 0,
    ach2 integer DEFAULT 0,
    ach3 integer DEFAULT 0,
    ach4 integer DEFAULT 0,
    ach5 integer DEFAULT 0,
    ach6 integer DEFAULT 0,
    ach7 integer DEFAULT 0,
    ach8 integer DEFAULT 0,
    ach9 integer DEFAULT 0,
    ach10 integer DEFAULT 0,
    ach11 integer DEFAULT 0,
    ach12 integer DEFAULT 0,
    ach13 integer DEFAULT 0,
    ach14 integer DEFAULT 0,
    ach15 integer DEFAULT 0,
    ach16 integer DEFAULT 0,
    ach17 integer DEFAULT 0,
    ach18 integer DEFAULT 0,
    ach19 integer DEFAULT 0,
    ach20 integer DEFAULT 0,
    ach21 integer DEFAULT 0,
    ach22 integer DEFAULT 0,
    ach23 integer DEFAULT 0,
    ach24 integer DEFAULT 0,
    ach25 integer DEFAULT 0,
    ach26 integer DEFAULT 0,
    ach27 integer DEFAULT 0,
    ach28 integer DEFAULT 0,
    ach29 integer DEFAULT 0,
    ach30 integer DEFAULT 0,
    ach31 integer DEFAULT 0,
    ach32 integer DEFAULT 0
);


ALTER TABLE public.achievements OWNER TO postgres;

--
-- Name: airou_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.airou_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.airou_id_seq OWNER TO postgres;

--
-- Name: cafe_accepted; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cafe_accepted (
    cafe_id integer NOT NULL,
    character_id integer NOT NULL
);


ALTER TABLE public.cafe_accepted OWNER TO postgres;

--
-- Name: cafebonus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cafebonus (
    id integer NOT NULL,
    time_req integer NOT NULL,
    item_type integer NOT NULL,
    item_id integer NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE public.cafebonus OWNER TO postgres;

--
-- Name: cafebonus_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cafebonus_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cafebonus_id_seq OWNER TO postgres;

--
-- Name: cafebonus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cafebonus_id_seq OWNED BY public.cafebonus.id;


--
-- Name: characters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.characters (
    id integer NOT NULL,
    user_id bigint,
    is_female boolean,
    is_new_character boolean,
    name character varying(15),
    unk_desc_string character varying(31),
    gr public.uint16,
    hrp public.uint16,
    weapon_type public.uint16,
    last_login integer,
    savedata bytea,
    decomyset bytea,
    hunternavi bytea,
    otomoairou bytea,
    partner bytea,
    platebox bytea,
    platedata bytea,
    platemyset bytea,
    rengokudata bytea,
    savemercenary bytea,
    restrict_guild_scout boolean DEFAULT false NOT NULL,
    minidata bytea,
    gacha_items bytea,
    daily_time timestamp with time zone,
    house_info bytea,
    login_boost bytea,
    skin_hist bytea,
    kouryou_point integer,
    gcp integer,
    guild_post_checked timestamp with time zone DEFAULT now() NOT NULL,
    time_played integer DEFAULT 0 NOT NULL,
    weapon_id integer DEFAULT 0 NOT NULL,
    scenariodata bytea,
    savefavoritequest bytea,
    friends text DEFAULT ''::text NOT NULL,
    blocked text DEFAULT ''::text NOT NULL,
    deleted boolean DEFAULT false NOT NULL,
    cafe_time integer DEFAULT 0,
    netcafe_points integer DEFAULT 0,
    boost_time timestamp with time zone,
    cafe_reset timestamp with time zone,
    bonus_quests integer DEFAULT 0 NOT NULL,
    daily_quests integer DEFAULT 0 NOT NULL,
    promo_points integer DEFAULT 0 NOT NULL,
    rasta_id integer,
    pact_id integer,
    stampcard integer DEFAULT 0 NOT NULL,
    mezfes bytea
);


ALTER TABLE public.characters OWNER TO postgres;

--
-- Name: characters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.characters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.characters_id_seq OWNER TO postgres;

--
-- Name: characters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.characters_id_seq OWNED BY public.characters.id;


--
-- Name: demo_color; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.demo_color (
    char_id integer NOT NULL,
    color_1 integer,
    color_2 integer,
    color_3 integer,
    color_4 integer
);


ALTER TABLE public.demo_color OWNER TO postgres;

--
-- Name: demo_reward_song; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.demo_reward_song (
    char_id integer NOT NULL,
    song_limit timestamp without time zone
);


ALTER TABLE public.demo_reward_song OWNER TO postgres;

--
-- Name: demo_select_kiju; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.demo_select_kiju (
    char_id integer NOT NULL,
    effect1 integer,
    effect2 integer,
    effect3 integer,
    effect4 integer
);


ALTER TABLE public.demo_select_kiju OWNER TO postgres;

--
-- Name: distribution; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.distribution (
    id integer NOT NULL,
    character_id integer,
    type integer NOT NULL,
    deadline timestamp with time zone,
    event_name text DEFAULT 'GM Gift!'::text NOT NULL,
    description text DEFAULT '~C05You received a gift!'::text NOT NULL,
    times_acceptable integer DEFAULT 1 NOT NULL,
    min_hr integer DEFAULT 65535 NOT NULL,
    max_hr integer DEFAULT 65535 NOT NULL,
    min_sr integer DEFAULT 65535 NOT NULL,
    max_sr integer DEFAULT 65535 NOT NULL,
    min_gr integer DEFAULT 65535 NOT NULL,
    max_gr integer DEFAULT 65535 NOT NULL,
    data bytea NOT NULL
);


ALTER TABLE public.distribution OWNER TO postgres;

--
-- Name: distribution_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.distribution_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.distribution_id_seq OWNER TO postgres;

--
-- Name: distribution_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.distribution_id_seq OWNED BY public.distribution.id;


--
-- Name: distributions_accepted; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.distributions_accepted (
    distribution_id integer,
    character_id integer
);


ALTER TABLE public.distributions_accepted OWNER TO postgres;

--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    event_type public.event_type NOT NULL,
    start_time timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: feature_weapon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feature_weapon (
    start_time timestamp with time zone NOT NULL,
    featured integer NOT NULL
);


ALTER TABLE public.feature_weapon OWNER TO postgres;

--
-- Name: festa_prizes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.festa_prizes (
    id integer NOT NULL,
    type public.prize_type NOT NULL,
    tier integer NOT NULL,
    souls_req integer NOT NULL,
    item_id integer NOT NULL,
    num_item integer NOT NULL
);


ALTER TABLE public.festa_prizes OWNER TO postgres;

--
-- Name: festa_prizes_accepted; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.festa_prizes_accepted (
    prize_id integer NOT NULL,
    character_id integer NOT NULL
);


ALTER TABLE public.festa_prizes_accepted OWNER TO postgres;

--
-- Name: festa_prizes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.festa_prizes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.festa_prizes_id_seq OWNER TO postgres;

--
-- Name: festa_prizes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.festa_prizes_id_seq OWNED BY public.festa_prizes.id;


--
-- Name: festa_registrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.festa_registrations (
    guild_id integer NOT NULL,
    team public.festival_colour NOT NULL
);


ALTER TABLE public.festa_registrations OWNER TO postgres;

--
-- Name: festa_trials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.festa_trials (
    id integer NOT NULL,
    objective integer NOT NULL,
    goal_id integer NOT NULL,
    times_req integer NOT NULL,
    locale_req integer DEFAULT 0 NOT NULL,
    reward integer NOT NULL
);


ALTER TABLE public.festa_trials OWNER TO postgres;

--
-- Name: festa_trials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.festa_trials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.festa_trials_id_seq OWNER TO postgres;

--
-- Name: festa_trials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.festa_trials_id_seq OWNED BY public.festa_trials.id;


--
-- Name: fpoint_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fpoint_items (
    id integer NOT NULL,
    item_type integer,
    item_id integer,
    quantity integer,
    fpoints integer,
    trade_type integer
);


ALTER TABLE public.fpoint_items OWNER TO postgres;

--
-- Name: fpoint_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fpoint_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fpoint_items_id_seq OWNER TO postgres;

--
-- Name: fpoint_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fpoint_items_id_seq OWNED BY public.fpoint_items.id;


--
-- Name: gacha_box; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gacha_box (
    gacha_id integer,
    entry_id integer,
    character_id integer
);


ALTER TABLE public.gacha_box OWNER TO postgres;

--
-- Name: gacha_entries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gacha_entries (
    id integer NOT NULL,
    gacha_id integer,
    entry_type integer,
    item_type integer,
    item_number integer,
    item_quantity integer,
    weight integer,
    rarity integer,
    rolls integer,
    frontier_points integer,
    daily_limit integer
);


ALTER TABLE public.gacha_entries OWNER TO postgres;

--
-- Name: gacha_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gacha_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gacha_entries_id_seq OWNER TO postgres;

--
-- Name: gacha_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gacha_entries_id_seq OWNED BY public.gacha_entries.id;


--
-- Name: gacha_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gacha_items (
    id integer NOT NULL,
    entry_id integer,
    item_type integer,
    item_id integer,
    quantity integer
);


ALTER TABLE public.gacha_items OWNER TO postgres;

--
-- Name: gacha_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gacha_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gacha_items_id_seq OWNER TO postgres;

--
-- Name: gacha_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gacha_items_id_seq OWNED BY public.gacha_items.id;


--
-- Name: gacha_shop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gacha_shop (
    id integer NOT NULL,
    min_gr integer,
    min_hr integer,
    name text,
    url_banner text,
    url_feature text,
    url_thumbnail text,
    wide boolean,
    recommended boolean,
    gacha_type integer,
    hidden boolean
);


ALTER TABLE public.gacha_shop OWNER TO postgres;

--
-- Name: gacha_shop_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gacha_shop_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gacha_shop_id_seq OWNER TO postgres;

--
-- Name: gacha_shop_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gacha_shop_id_seq OWNED BY public.gacha_shop.id;


--
-- Name: gacha_stepup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gacha_stepup (
    gacha_id integer,
    step integer,
    character_id integer
);


ALTER TABLE public.gacha_stepup OWNER TO postgres;

--
-- Name: gook; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gook (
    id integer NOT NULL,
    gook0 bytea,
    gook1 bytea,
    gook2 bytea,
    gook3 bytea,
    gook4 bytea
);


ALTER TABLE public.gook OWNER TO postgres;

--
-- Name: gook_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gook_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gook_id_seq OWNER TO postgres;

--
-- Name: gook_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gook_id_seq OWNED BY public.gook.id;


--
-- Name: guild_adventures; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_adventures (
    id integer NOT NULL,
    guild_id integer NOT NULL,
    destination integer NOT NULL,
    charge integer DEFAULT 0 NOT NULL,
    depart integer NOT NULL,
    return integer NOT NULL,
    collected_by text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.guild_adventures OWNER TO postgres;

--
-- Name: guild_adventures_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guild_adventures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guild_adventures_id_seq OWNER TO postgres;

--
-- Name: guild_adventures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guild_adventures_id_seq OWNED BY public.guild_adventures.id;


--
-- Name: guild_alliances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_alliances (
    id integer NOT NULL,
    name character varying(24) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    parent_id integer NOT NULL,
    sub1_id integer,
    sub2_id integer
);


ALTER TABLE public.guild_alliances OWNER TO postgres;

--
-- Name: guild_alliances_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guild_alliances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guild_alliances_id_seq OWNER TO postgres;

--
-- Name: guild_alliances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guild_alliances_id_seq OWNED BY public.guild_alliances.id;


--
-- Name: guild_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_applications (
    id integer NOT NULL,
    guild_id integer NOT NULL,
    character_id integer NOT NULL,
    actor_id integer NOT NULL,
    application_type public.guild_application_type NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.guild_applications OWNER TO postgres;

--
-- Name: guild_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guild_applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guild_applications_id_seq OWNER TO postgres;

--
-- Name: guild_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guild_applications_id_seq OWNED BY public.guild_applications.id;


--
-- Name: guild_characters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_characters (
    id integer NOT NULL,
    guild_id bigint,
    character_id bigint,
    joined_at timestamp with time zone DEFAULT now(),
    avoid_leadership boolean DEFAULT false NOT NULL,
    order_index integer DEFAULT 1 NOT NULL,
    recruiter boolean DEFAULT false NOT NULL,
    souls integer DEFAULT 0,
    rp_today integer DEFAULT 0,
    rp_yesterday integer DEFAULT 0
);


ALTER TABLE public.guild_characters OWNER TO postgres;

--
-- Name: guild_characters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guild_characters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guild_characters_id_seq OWNER TO postgres;

--
-- Name: guild_characters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guild_characters_id_seq OWNED BY public.guild_characters.id;


--
-- Name: guild_hunts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_hunts (
    id integer NOT NULL,
    guild_id integer NOT NULL,
    host_id integer NOT NULL,
    destination integer NOT NULL,
    level integer NOT NULL,
    return integer NOT NULL,
    acquired boolean DEFAULT false NOT NULL,
    claimed boolean DEFAULT false NOT NULL,
    hunters text DEFAULT ''::text NOT NULL,
    treasure text DEFAULT ''::text NOT NULL,
    hunt_data bytea NOT NULL,
    cats_used text NOT NULL
);


ALTER TABLE public.guild_hunts OWNER TO postgres;

--
-- Name: guild_hunts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guild_hunts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guild_hunts_id_seq OWNER TO postgres;

--
-- Name: guild_hunts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guild_hunts_id_seq OWNED BY public.guild_hunts.id;


--
-- Name: guild_meals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_meals (
    id integer NOT NULL,
    guild_id integer NOT NULL,
    meal_id integer NOT NULL,
    level integer NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.guild_meals OWNER TO postgres;

--
-- Name: guild_meals_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guild_meals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guild_meals_id_seq OWNER TO postgres;

--
-- Name: guild_meals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guild_meals_id_seq OWNED BY public.guild_meals.id;


--
-- Name: guild_posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_posts (
    id integer NOT NULL,
    guild_id integer NOT NULL,
    author_id integer NOT NULL,
    post_type integer NOT NULL,
    stamp_id integer NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    liked_by text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.guild_posts OWNER TO postgres;

--
-- Name: guild_posts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guild_posts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guild_posts_id_seq OWNER TO postgres;

--
-- Name: guild_posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guild_posts_id_seq OWNED BY public.guild_posts.id;


--
-- Name: guilds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guilds (
    id integer NOT NULL,
    name character varying(24),
    created_at timestamp with time zone DEFAULT now(),
    leader_id integer NOT NULL,
    main_motto integer DEFAULT 0,
    rank_rp integer DEFAULT 0 NOT NULL,
    comment character varying(255) DEFAULT ''::character varying NOT NULL,
    icon bytea,
    sub_motto integer DEFAULT 0,
    item_box bytea,
    event_rp integer DEFAULT 0 NOT NULL,
    pugi_name_1 character varying(12) DEFAULT ''::character varying,
    pugi_name_2 character varying(12) DEFAULT ''::character varying,
    pugi_name_3 character varying(12) DEFAULT ''::character varying,
    recruiting boolean DEFAULT true NOT NULL,
    pugi_outfit_1 integer DEFAULT 0 NOT NULL,
    pugi_outfit_2 integer DEFAULT 0 NOT NULL,
    pugi_outfit_3 integer DEFAULT 0 NOT NULL,
    pugi_outfits integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.guilds OWNER TO postgres;

--
-- Name: guilds_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guilds_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guilds_id_seq OWNER TO postgres;

--
-- Name: guilds_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guilds_id_seq OWNED BY public.guilds.id;


--
-- Name: kiju_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kiju_list (
    name text,
    description text,
    effect integer
);


ALTER TABLE public.kiju_list OWNER TO postgres;

--
-- Name: login_boost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login_boost (
    char_id integer,
    week_req integer,
    expiration timestamp with time zone,
    reset timestamp with time zone
);


ALTER TABLE public.login_boost OWNER TO postgres;

--
-- Name: mail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mail (
    id integer NOT NULL,
    sender_id integer NOT NULL,
    recipient_id integer NOT NULL,
    subject character varying DEFAULT ''::character varying NOT NULL,
    body character varying DEFAULT ''::character varying NOT NULL,
    read boolean DEFAULT false NOT NULL,
    attached_item_received boolean DEFAULT false NOT NULL,
    attached_item integer,
    attached_item_amount integer DEFAULT 1 NOT NULL,
    is_guild_invite boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted boolean DEFAULT false NOT NULL,
    locked boolean DEFAULT false NOT NULL
);


ALTER TABLE public.mail OWNER TO postgres;

--
-- Name: mail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mail_id_seq OWNER TO postgres;

--
-- Name: mail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mail_id_seq OWNED BY public.mail.id;


--
-- Name: rengoku_score; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rengoku_score (
    character_id integer NOT NULL,
    max_stages_mp integer,
    max_points_mp integer,
    max_stages_sp integer,
    max_points_sp integer
);


ALTER TABLE public.rengoku_score OWNER TO postgres;

--
-- Name: servers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.servers (
    server_id integer NOT NULL,
    season integer NOT NULL,
    current_players integer NOT NULL,
    world_name text,
    world_description text,
    land integer
);


ALTER TABLE public.servers OWNER TO postgres;

--
-- Name: shop_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_items (
    shop_type integer,
    shop_id integer,
    id integer NOT NULL,
    item_id public.uint16,
    cost integer,
    quantity public.uint16,
    min_hr public.uint16,
    min_sr public.uint16,
    min_gr public.uint16,
    store_level public.uint16,
    max_quantity public.uint16,
    road_floors public.uint16,
    road_fatalis public.uint16
);


ALTER TABLE public.shop_items OWNER TO postgres;

--
-- Name: shop_items_bought; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_items_bought (
    character_id integer,
    shop_item_id integer,
    bought integer
);


ALTER TABLE public.shop_items_bought OWNER TO postgres;

--
-- Name: shop_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shop_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shop_items_id_seq OWNER TO postgres;

--
-- Name: shop_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shop_items_id_seq OWNED BY public.shop_items.id;


--
-- Name: sign_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sign_sessions (
    user_id integer NOT NULL,
    char_id integer,
    token character varying(16) NOT NULL,
    server_id integer
);


ALTER TABLE public.sign_sessions OWNER TO postgres;

--
-- Name: stamps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stamps (
    character_id integer NOT NULL,
    hl_total integer DEFAULT 0,
    hl_redeemed integer DEFAULT 0,
    hl_next timestamp with time zone,
    ex_total integer DEFAULT 0,
    ex_redeemed integer DEFAULT 0,
    ex_next timestamp with time zone
);


ALTER TABLE public.stamps OWNER TO postgres;

--
-- Name: titles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.titles (
    id integer NOT NULL,
    char_id integer NOT NULL,
    unlocked_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.titles OWNER TO postgres;

--
-- Name: user_binary; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_binary (
    id integer NOT NULL,
    type2 bytea,
    type3 bytea,
    house_tier bytea,
    house_state integer,
    house_password text,
    house_data bytea,
    house_furniture bytea,
    bookshelf bytea,
    gallery bytea,
    tore bytea,
    garden bytea,
    mission bytea
);


ALTER TABLE public.user_binary OWNER TO postgres;

--
-- Name: user_binary_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_binary_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_binary_id_seq OWNER TO postgres;

--
-- Name: user_binary_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_binary_id_seq OWNED BY public.user_binary.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    item_box bytea,
    rights integer DEFAULT 12 NOT NULL,
    last_character integer DEFAULT 0,
    last_login timestamp with time zone,
    return_expires timestamp with time zone,
    gacha_premium integer,
    gacha_trial integer,
    frontier_points integer,
    psn_id text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: warehouse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.warehouse (
    character_id integer NOT NULL,
    item0 bytea,
    item1 bytea,
    item2 bytea,
    item3 bytea,
    item4 bytea,
    item5 bytea,
    item6 bytea,
    item7 bytea,
    item8 bytea,
    item9 bytea,
    item10 bytea,
    item0name text,
    item1name text,
    item2name text,
    item3name text,
    item4name text,
    item5name text,
    item6name text,
    item7name text,
    item8name text,
    item9name text,
    equip0 bytea,
    equip1 bytea,
    equip2 bytea,
    equip3 bytea,
    equip4 bytea,
    equip5 bytea,
    equip6 bytea,
    equip7 bytea,
    equip8 bytea,
    equip9 bytea,
    equip10 bytea,
    equip0name text,
    equip1name text,
    equip2name text,
    equip3name text,
    equip4name text,
    equip5name text,
    equip6name text,
    equip7name text,
    equip8name text,
    equip9name text
);


ALTER TABLE public.warehouse OWNER TO postgres;

--
-- Name: cafebonus id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cafebonus ALTER COLUMN id SET DEFAULT nextval('public.cafebonus_id_seq'::regclass);


--
-- Name: characters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.characters ALTER COLUMN id SET DEFAULT nextval('public.characters_id_seq'::regclass);


--
-- Name: distribution id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distribution ALTER COLUMN id SET DEFAULT nextval('public.distribution_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: festa_prizes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.festa_prizes ALTER COLUMN id SET DEFAULT nextval('public.festa_prizes_id_seq'::regclass);


--
-- Name: festa_trials id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.festa_trials ALTER COLUMN id SET DEFAULT nextval('public.festa_trials_id_seq'::regclass);


--
-- Name: fpoint_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fpoint_items ALTER COLUMN id SET DEFAULT nextval('public.fpoint_items_id_seq'::regclass);


--
-- Name: gacha_entries id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gacha_entries ALTER COLUMN id SET DEFAULT nextval('public.gacha_entries_id_seq'::regclass);


--
-- Name: gacha_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gacha_items ALTER COLUMN id SET DEFAULT nextval('public.gacha_items_id_seq'::regclass);


--
-- Name: gacha_shop id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gacha_shop ALTER COLUMN id SET DEFAULT nextval('public.gacha_shop_id_seq'::regclass);


--
-- Name: gook id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gook ALTER COLUMN id SET DEFAULT nextval('public.gook_id_seq'::regclass);


--
-- Name: guild_adventures id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_adventures ALTER COLUMN id SET DEFAULT nextval('public.guild_adventures_id_seq'::regclass);


--
-- Name: guild_alliances id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_alliances ALTER COLUMN id SET DEFAULT nextval('public.guild_alliances_id_seq'::regclass);


--
-- Name: guild_applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_applications ALTER COLUMN id SET DEFAULT nextval('public.guild_applications_id_seq'::regclass);


--
-- Name: guild_characters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_characters ALTER COLUMN id SET DEFAULT nextval('public.guild_characters_id_seq'::regclass);


--
-- Name: guild_hunts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_hunts ALTER COLUMN id SET DEFAULT nextval('public.guild_hunts_id_seq'::regclass);


--
-- Name: guild_meals id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_meals ALTER COLUMN id SET DEFAULT nextval('public.guild_meals_id_seq'::regclass);


--
-- Name: guild_posts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_posts ALTER COLUMN id SET DEFAULT nextval('public.guild_posts_id_seq'::regclass);


--
-- Name: guilds id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guilds ALTER COLUMN id SET DEFAULT nextval('public.guilds_id_seq'::regclass);


--
-- Name: mail id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mail ALTER COLUMN id SET DEFAULT nextval('public.mail_id_seq'::regclass);


--
-- Name: shop_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_items ALTER COLUMN id SET DEFAULT nextval('public.shop_items_id_seq'::regclass);


--
-- Name: user_binary id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_binary ALTER COLUMN id SET DEFAULT nextval('public.user_binary_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cafe_accepted; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cafe_accepted (cafe_id, character_id) FROM stdin;
\.


--
-- Data for Name: cafebonus; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cafebonus (id, time_req, item_type, item_id, quantity) FROM stdin;
1	1800	17	0	250
2	3600	17	0	500
3	7200	17	0	1000
4	10800	17	0	1500
5	18000	17	0	1750
6	28800	17	0	3000
7	43200	17	0	4000
8	1800	17	0	250
9	3600	17	0	500
10	7200	17	0	1000
11	10800	17	0	1500
12	18000	17	0	1750
13	28800	17	0	3000
14	43200	17	0	4000
15	1800	17	0	250
16	3600	17	0	500
17	7200	17	0	1000
18	10800	17	0	1500
19	18000	17	0	1750
20	28800	17	0	3000
21	43200	17	0	4000
\.


--
-- Data for Name: characters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: demo_color; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.demo_color (char_id, color_1, color_2, color_3, color_4) FROM stdin;
1	1	3	0	3
2	1	3	0	3
4	1	3	0	3
6	1	3	1	2
5	1	3	1	2
7	1	3	0	3
9	1	3	1	2
\.


--
-- Data for Name: demo_reward_song; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.demo_reward_song (char_id, song_limit) FROM stdin;
1	2023-04-19 13:47:09.090937
2	\N
7	\N
4	2023-12-28 18:50:00.933997
9	2026-02-02 01:40:23.896631
\.


--
-- Data for Name: demo_select_kiju; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.demo_select_kiju (char_id, effect1, effect2, effect3, effect4) FROM stdin;
1	1	19	18	8
2	1	19	18	8
4	1	18	19	8
6	1	8	15	18
5	1	8	15	18
7	1	8	19	18
9	1	8	15	18
\.


--
-- Data for Name: distribution; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: distributions_accepted; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.events (id, event_type, start_time) FROM stdin;
7	festa	2026-02-02 16:00:00+01
\.


--
-- Data for Name: feature_weapon; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: festa_prizes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: festa_prizes_accepted; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.festa_prizes_accepted (prize_id, character_id) FROM stdin;
\.


--
-- Data for Name: festa_registrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.festa_registrations (guild_id, team) FROM stdin;
\.


--
-- Data for Name: festa_trials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fpoint_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gacha_box; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gacha_box (gacha_id, entry_id, character_id) FROM stdin;
3	13	1
3	16	1
\.


--
-- Data for Name: gacha_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gacha_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gacha_items (id, entry_id, item_type, item_id, quantity) FROM stdin;
1	3	10	1	0
2	4	10	2	0
3	5	10	3	0
4	6	10	1	0
5	7	10	3	0
6	8	10	1	0
7	9	10	2	0
8	12	10	1	0
9	13	10	1	0
10	14	10	1	0
11	15	10	2	0
12	16	10	3	0
13	19	10	1	0
14	20	10	2	0
15	21	10	3	0
16	22	10	1	0
17	23	10	3	0
18	24	10	1	0
19	25	10	2	0
20	28	10	1	0
21	29	10	1	0
22	30	10	1	0
23	31	10	2	0
24	32	10	3	0
\.


--
-- Data for Name: gacha_shop; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gacha_stepup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gacha_stepup (gacha_id, step, character_id) FROM stdin;
2	1	1
\.


--
-- Data for Name: gook; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gook (id, gook0, gook1, gook2, gook3, gook4) FROM stdin;
4	\N	\N	\N	\N	\N
\.


--
-- Data for Name: guild_adventures; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guild_adventures (id, guild_id, destination, charge, depart, return, collected_by) FROM stdin;
\.


--
-- Data for Name: guild_alliances; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guild_alliances (id, name, created_at, parent_id, sub1_id, sub2_id) FROM stdin;
\.


--
-- Data for Name: guild_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guild_applications (id, guild_id, character_id, actor_id, application_type, created_at) FROM stdin;
\.


--
-- Data for Name: guild_characters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guild_characters (id, guild_id, character_id, joined_at, avoid_leadership, order_index, recruiter, souls, rp_today, rp_yesterday) FROM stdin;
3	2	4	2023-05-24 13:58:21.81694+02	f	1	f	0	0	0
4	3	9	2026-02-02 12:17:30.316879+01	f	1	f	0	0	0
\.


--
-- Data for Name: guild_hunts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guild_hunts (id, guild_id, host_id, destination, level, return, acquired, claimed, hunters, treasure, hunt_data, cats_used) FROM stdin;
\.


--
-- Data for Name: guild_meals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guild_meals (id, guild_id, meal_id, level, created_at) FROM stdin;
2	2	716	2	2030-01-01 00:00:00+01
3	2	708	3	2030-01-01 00:00:00+01
4	2	716	3	2030-01-01 00:00:00+01
5	2	708	3	2030-01-01 00:00:00+01
6	3	669	3	2030-01-01 00:00:00+01
\.


--
-- Data for Name: guild_posts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guild_posts (id, guild_id, author_id, post_type, stamp_id, title, body, created_at, liked_by) FROM stdin;
\.


--
-- Data for Name: guilds; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guilds (id, name, created_at, leader_id, main_motto, rank_rp, comment, icon, sub_motto, item_box, event_rp, pugi_name_1, pugi_name_2, pugi_name_3, recruiting, pugi_outfit_1, pugi_outfit_2, pugi_outfit_3, pugi_outfits) FROM stdin;
2	guilde	2023-05-24 13:58:21.81694+02	4	0	1000		\N	0	\N	0				t	0	0	0	0
3	Ouroboros	2026-02-02 12:17:30.316879+01	9	0	1000		\N	0	\N	0				t	0	0	0	0
\.


--
-- Data for Name: kiju_list; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: login_boost; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mail (id, sender_id, recipient_id, subject, body, read, attached_item_received, attached_item, attached_item_amount, is_guild_invite, created_at, deleted, locked) FROM stdin;
\.


--
-- Data for Name: rengoku_score; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rengoku_score (character_id, max_stages_mp, max_points_mp, max_stages_sp, max_points_sp) FROM stdin;
\.


--
-- Data for Name: servers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.servers (server_id, season, current_players, world_name, world_description, land) FROM stdin;
4113	0	0	Newbie		2
4368	1	0	Normal		1
4369	1	0	Normal		2
4880	0	0	Tavern		1
5136	1	0	Return		1
5392	2	0	MezFes		1
4112	0	0	Newbie		1
4624	2	0	Cities		1
\.


--
-- Data for Name: shop_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_items_bought; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_items_bought (character_id, shop_item_id, bought) FROM stdin;
\.


--
-- Data for Name: sign_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sign_sessions (user_id, char_id, token, server_id) FROM stdin;
8	\N	5wFdbEyIYamgmepP	\N
8	\N	1ISCNmBnUj8KmODW	\N
8	\N	Dz693xsY7XAdeJiR	\N
8	\N	ojmvgT3vg2garzcv	\N
8	\N	5ZWrQc6PRdAh8Lfk	\N
8	\N	EH6N1dSpO6Nclwvd	\N
8	\N	6nRACkHbDXhit7jj	\N
8	\N	elncT4ghgRFdB8ji	\N
8	\N	2id9x6xUKednDboU	\N
8	\N	SgqYGLFbmeAQRTFL	\N
8	\N	55bh5cJ2LV5hi5Pb	\N
\.


--
-- Data for Name: stamps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stamps (character_id, hl_total, hl_redeemed, hl_next, ex_total, ex_redeemed, ex_next) FROM stdin;
1	1	0	2023-04-16 17:00:00+02	1	0	2023-04-16 17:00:00+02
2	0	0	2023-04-23 17:00:00+02	0	0	2023-04-23 17:00:00+02
5	0	0	2023-06-04 17:00:00+02	0	0	2023-06-04 17:00:00+02
7	0	0	2023-06-04 17:00:00+02	0	0	2023-06-04 17:00:00+02
6	1	0	2023-11-26 16:00:00+01	1	0	2023-11-26 16:00:00+01
4	11	0	2023-12-31 16:00:00+01	11	0	2023-12-31 16:00:00+01
9	0	0	2026-02-08 16:00:00+01	0	0	2026-02-08 16:00:00+01
\.


--
-- Data for Name: titles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.titles (id, char_id, unlocked_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_binary; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: warehouse; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.warehouse (character_id, item0, item1, item2, item3, item4, item5, item6, item7, item8, item9, item10, item0name, item1name, item2name, item3name, item4name, item5name, item6name, item7name, item8name, item9name, equip0, equip1, equip2, equip3, equip4, equip5, equip6, equip7, equip8, equip9, equip10, equip0name, equip1name, equip2name, equip3name, equip4name, equip5name, equip6name, equip7name, equip8name, equip9name) FROM stdin;
4	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N
\.


--
-- Name: airou_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.airou_id_seq', 1, true);


--
-- Name: cafebonus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cafebonus_id_seq', 21, true);


--
-- Name: characters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.characters_id_seq', 9, true);


--
-- Name: distribution_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.distribution_id_seq', 22, true);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.events_id_seq', 7, true);


--
-- Name: festa_prizes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.festa_prizes_id_seq', 360, true);


--
-- Name: festa_trials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.festa_trials_id_seq', 369, true);


--
-- Name: fpoint_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fpoint_items_id_seq', 772, true);


--
-- Name: gacha_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gacha_entries_id_seq', 32, true);


--
-- Name: gacha_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gacha_items_id_seq', 24, true);


--
-- Name: gacha_shop_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gacha_shop_id_seq', 6, true);


--
-- Name: gook_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gook_id_seq', 1, false);


--
-- Name: guild_adventures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guild_adventures_id_seq', 1, false);


--
-- Name: guild_alliances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guild_alliances_id_seq', 1, false);


--
-- Name: guild_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guild_applications_id_seq', 3, true);


--
-- Name: guild_characters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guild_characters_id_seq', 4, true);


--
-- Name: guild_hunts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guild_hunts_id_seq', 1, false);


--
-- Name: guild_meals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guild_meals_id_seq', 6, true);


--
-- Name: guild_posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guild_posts_id_seq', 1, false);


--
-- Name: guilds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guilds_id_seq', 3, true);


--
-- Name: mail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mail_id_seq', 1, false);


--
-- Name: shop_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_items_id_seq', 2719, true);


--
-- Name: user_binary_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_binary_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: cafebonus cafebonus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cafebonus
    ADD CONSTRAINT cafebonus_pkey PRIMARY KEY (id);


--
-- Name: characters characters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.characters
    ADD CONSTRAINT characters_pkey PRIMARY KEY (id);


--
-- Name: demo_color demo_color_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demo_color
    ADD CONSTRAINT demo_color_pkey PRIMARY KEY (char_id);


--
-- Name: demo_reward_song demo_reward_song_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demo_reward_song
    ADD CONSTRAINT demo_reward_song_pkey PRIMARY KEY (char_id);


--
-- Name: demo_select_kiju demo_select_kiju_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demo_select_kiju
    ADD CONSTRAINT demo_select_kiju_pkey PRIMARY KEY (char_id);


--
-- Name: distribution distribution_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distribution
    ADD CONSTRAINT distribution_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: festa_prizes festa_prizes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.festa_prizes
    ADD CONSTRAINT festa_prizes_pkey PRIMARY KEY (id);


--
-- Name: festa_trials festa_trials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.festa_trials
    ADD CONSTRAINT festa_trials_pkey PRIMARY KEY (id);


--
-- Name: fpoint_items fpoint_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fpoint_items
    ADD CONSTRAINT fpoint_items_pkey PRIMARY KEY (id);


--
-- Name: gacha_entries gacha_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gacha_entries
    ADD CONSTRAINT gacha_entries_pkey PRIMARY KEY (id);


--
-- Name: gacha_items gacha_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gacha_items
    ADD CONSTRAINT gacha_items_pkey PRIMARY KEY (id);


--
-- Name: gacha_shop gacha_shop_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gacha_shop
    ADD CONSTRAINT gacha_shop_pkey PRIMARY KEY (id);


--
-- Name: gook gook_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gook
    ADD CONSTRAINT gook_pkey PRIMARY KEY (id);


--
-- Name: guild_adventures guild_adventures_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_adventures
    ADD CONSTRAINT guild_adventures_pkey PRIMARY KEY (id);


--
-- Name: guild_alliances guild_alliances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_alliances
    ADD CONSTRAINT guild_alliances_pkey PRIMARY KEY (id);


--
-- Name: guild_applications guild_application_character_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_applications
    ADD CONSTRAINT guild_application_character_id UNIQUE (guild_id, character_id);


--
-- Name: guild_applications guild_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_applications
    ADD CONSTRAINT guild_applications_pkey PRIMARY KEY (id);


--
-- Name: guild_characters guild_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_characters
    ADD CONSTRAINT guild_characters_pkey PRIMARY KEY (id);


--
-- Name: guild_hunts guild_hunts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_hunts
    ADD CONSTRAINT guild_hunts_pkey PRIMARY KEY (id);


--
-- Name: guild_meals guild_meals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_meals
    ADD CONSTRAINT guild_meals_pkey PRIMARY KEY (id);


--
-- Name: guild_posts guild_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_posts
    ADD CONSTRAINT guild_posts_pkey PRIMARY KEY (id);


--
-- Name: guilds guilds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guilds
    ADD CONSTRAINT guilds_pkey PRIMARY KEY (id);


--
-- Name: mail mail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mail
    ADD CONSTRAINT mail_pkey PRIMARY KEY (id);


--
-- Name: rengoku_score rengoku_score_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rengoku_score
    ADD CONSTRAINT rengoku_score_pkey PRIMARY KEY (character_id);


--
-- Name: shop_items shop_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_items
    ADD CONSTRAINT shop_items_pkey PRIMARY KEY (id);


--
-- Name: stamps stamps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stamps
    ADD CONSTRAINT stamps_pkey PRIMARY KEY (character_id);


--
-- Name: user_binary user_binary_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_binary
    ADD CONSTRAINT user_binary_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: warehouse warehouse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse
    ADD CONSTRAINT warehouse_pkey PRIMARY KEY (character_id);


--
-- Name: guild_application_type_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX guild_application_type_index ON public.guild_applications USING btree (application_type);


--
-- Name: guild_character_unique_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX guild_character_unique_index ON public.guild_characters USING btree (character_id);


--
-- Name: mail_recipient_deleted_created_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mail_recipient_deleted_created_id_index ON public.mail USING btree (recipient_id, deleted, created_at DESC, id DESC);


--
-- Name: characters characters_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.characters
    ADD CONSTRAINT characters_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: guild_applications guild_applications_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_applications
    ADD CONSTRAINT guild_applications_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.characters(id);


--
-- Name: guild_applications guild_applications_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_applications
    ADD CONSTRAINT guild_applications_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.characters(id);


--
-- Name: guild_applications guild_applications_guild_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_applications
    ADD CONSTRAINT guild_applications_guild_id_fkey FOREIGN KEY (guild_id) REFERENCES public.guilds(id);


--
-- Name: guild_characters guild_characters_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_characters
    ADD CONSTRAINT guild_characters_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.characters(id);


--
-- Name: guild_characters guild_characters_guild_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_characters
    ADD CONSTRAINT guild_characters_guild_id_fkey FOREIGN KEY (guild_id) REFERENCES public.guilds(id);


--
-- Name: mail mail_recipient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mail
    ADD CONSTRAINT mail_recipient_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.characters(id);


--
-- Name: mail mail_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mail
    ADD CONSTRAINT mail_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.characters(id);


--
-- PostgreSQL database dump complete
--

\unrestrict EPx5w6wg8g2SsdZggnwhdApZBNnlJoisN0Wch0yQ4GMwWdummnsswQHZIsX8V6B

